:root {
	--color-lime: #5aff00;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

body {
	background-image: url("../image/background-form.jpg");
	background-position: center;
	background-attachment: fixed;
	color: var(--color-lime);
}