:root {
	--color-darkgreen: rgba(15, 219, 171, 0.38);
	--color-lightgreen: #61ff7e
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

body {
	background-image: url("../image/background-testpage(flex).jpg");
	background-attachment: fixed;
	background-position: center;
}

.grid {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin: -15px;
	padding-top: 25px;
}

.grid-wrapper {
	width: 33.33%;
	flex: 0 0 auto;
	padding: 15px;
}

.grid-element {
	background-color: var(--color-darkgreen);
	padding: 15px;
	border-radius: 15px;
	transition: 1s;
}

.grid-element:hover {
	transition-property: background-color;
	background-color: rgba(105,61,255,0.56);
	box-shadow:0 0 15px 9px var(--color-darkgreen) inset;
}

.grid-element__img {
	border-radius: 10px;
	transition: 1.5s;
}

.grid-element__img:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.grid-element__text {
	padding-top: 10px;
	font-family: "Comic Sans MS" , sans-serif;
	font-size: 16px;
	color: var(--color-lightgreen);
}

@media (max-width: 1024px) {
	.grid-wrapper {
		width: 50%;
	}
}

@media (max-width: 768px) {
	.grid-wrapper {
		width: 100%;
	}
}