* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	padding: 0 40px;
	margin: 0 auto;
}

html {
	scroll-behavior: smooth;
}

body {
	background-image: url("../image/background-testpage.jpg");
	background-attachment: fixed;
	background-position: center;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	display: inline-block;
	white-space: nowrap;
}

.nav {
	text-align: center;
	font-size: 38px;
	font-family: "Comic Sans MS", sans-serif;
}

.nav-list {
	margin-top: 15px;
	position: fixed;
	left: 18%;
}

.nav-list__item {
	display: inline-block;
	position: relative;
	margin-left: -20px; /*убрал пробел таким способом , через font-size не получилось*/
}

.nav-list__link {
	font-style: oblique;
	color: greenyellow;
	box-shadow: 1px 1px 11px 5px greenyellow inset, 1px 1px 11px 5px #adff2f;
	border-radius: 6px;
	cursor: pointer;
	padding: 12px 30px;
	margin: 10px;
	transition: .5s;
}

.nav-list__link:hover {
	color: deeppink;
	box-shadow: 1px 1px 11px 5px deeppink inset, 1px 1px 11px 5px deeppink;
}

.nav-list__link:active {
	color: #347c82;
	box-shadow: 1px 1px 11px 5px #347c82 inset, 1px 1px 11px 5px #347c82;
}

.submenu-list__link {
	font-size: 32px;
	font-style: oblique;
	color: red;
	box-shadow: 1px 1px 11px 5px red inset, 1px 1px 11px 5px red;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 15px;
	margin: 5px;
	transition: .5s;
}

.submenu-list__link:hover {
	color: cyan;
	box-shadow: 1px 1px 11px 5px cyan inset, 1px 1px 11px 5px cyan;
}

.submenu-list {
	display: none;
	position: absolute;
	font-size: 0;
	left: 17px;
}
.nav-list__item:hover .submenu-list {
	display: block;
}

.sub-list {
	display: none;
	position: absolute;
	left: 218px;
	transform: translateY(-74px);
}

.sub-list__link {
	font-size: 24px;
	font-style: oblique;
	color: gold;
	box-shadow: 1px 1px 11px 5px gold inset, 1px 1px 11px 5px gold;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 15px;
	margin: 5px;
	transition: .5s;
}

.sub-list__link:hover {
	color: #001fff;
	box-shadow: 1px 1px 11px 5px #001fff inset, 1px 1px 11px 5px #001fff;
}

.submenu-list__item:hover .sub-list {
	display: block;
}

.section-page {
	width: 100%;
	height: 1200px;
}

.section-page-1 {
	background: #6d0543;
	scroll-behavior: smooth;
}

.section-page-2 {
	background: #035025;
	scroll-behavior: smooth;
}

.section-page-3 {
	background: #3b0453;
	scroll-behavior: smooth;
}

.section-page-4 {
	background: #4c0c14;
	scroll-behavior: smooth;
}