:root {
	--color-gray: #f2f4f8;
	--color-white: #ffffff;
	--color-blue: #1b74fd;
	--color-lightgray: #f7f9ff;
	--color-darkgray: #717784;
	--color-lightblack: #363C4E;
	--color-lightgray2: #adb3c5;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

body {
	background-color: var(--color-gray);
	position: absolute;
	width: 1440px;
	height: 1397px;
	left: 0;
	top: 0;
}

.section {
	background-color: var(--color-white);
	position: absolute;
	width: 874px;
	height: 992px;
	left: 283px;
	top: 203px;
	border-radius: 15px;
}

.text {
	font-family: 'Inter' , sans-serif;
	font-style: normal;
	letter-spacing: -0.04em;
}

.section-head {
	width: 874px;
	height: 253px;
	background: var(--color-blue);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px ;
}

.theme {
	position: absolute;
	width: 652px;
	height: 853px;
	left: 112px;
	top: 61px;
}

.theme__text1 {
	position: absolute;
	width: 650px;
	height: 52px;
	left: 0;
	top: 0;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: var(--color-white);
}

.theme__text2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 130%;
	color: var(--color-white);
	position: absolute;
	width: 650px;
	height: 69px;
	left: 0;
	top: 62px;
}

.visual {
	position: absolute;
	width: 325px;
	height: 325px;
	left: 71px;
	top: 307px;
	display: flex;
	justify-content: center;
}

.visual-img {
	border-radius: 15px;
	margin-left: -35px;
}

.section-text1 {
	position: absolute;
	width: 427px;
	height: 318px;
	left: 335px;
	top: 314px;
	background: var(--color-lightgray);
	border-radius: 14px;
}

.section-text1__1 {
	position: absolute;
	width: 355px;
	height: 182px;
	left: 34px;
	top: 32px;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: var(--color-darkgray);
}

.section-text1__2 {
	position: absolute;
	width: 355px;
	height: 26px;
	left: 32px;
	top: 234px;
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	text-align: right;
	color: var(--color-lightblack);
}

.section-text2 {
	position: absolute;
	width: 274px;
	height: 130px;
	left: 112px;
	top: 784px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: var(--color-blue);
}

.btn-gift {
	position: absolute;
	width: 314px;
	height: 52px;
	left: 448px;
	top: 861px;
	background: var(--color-white);
	border: 1px solid var(--color-blue);
	border-radius: 100px;
	font-weight: 600;
	font-size: 16px;
	line-height: 120%;
	color: var(--color-blue);
	transition: 0.5s;
}

.btn-gift:hover {
	background-color: var(--color-blue);
	color: var(--color-white);
	cursor: pointer;
}

.btn-gift:active {
	background-color: var(--color-lightblack);
}

.feedback {
	position: absolute;
	width: 315px;
	height: 146px;
	left: 447px;
	top: 672px;
}

.feedback_text {
	font-weight: 400;
	font-size: 12px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: var(--color-lightgray2);
	position: absolute;
	width: 314px;
	height: 24px;
	top: 122px;
}

.feedback__text {
	color: var(--color-blue);
}

.form-row {
	font-weight: 400;
	font-size: 17px;
	line-height: 150%;
	color: var(--color-lightgray2);
}
