:root {
	--color-lime: #5aff00;
	--color-orange: #ffb400;
	--color-pink: #ff00e0;
	--color-greenyellow: #adff2f;
	--color-black: rgba(0, 0, 0, 0.2);
	--color-red: #ff001d;
	--color-cyan: #00e9ff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	max-width: 1000px;
	padding: 0 40px;
	margin: 0 auto;
}

body {
	background-image: url("../image/background-feedback.jpg");
	background-position: center;
	background-attachment: fixed;
	color: var(--color-lime);
}

.header-row-1 {
	font-size: 34px;
	font-family: "Algerian", sans-serif;
	text-align: center;
	text-transform: uppercase;
	padding: 15px;
	color: var(--color-orange);
	text-shadow: 2px 2px var(--color-pink);
}

.section {
	text-align: center;
}

.btn-form {
	border: none;
	border-radius: 10px;
	font-size: 24px;
	font-weight: 900;
	width: 30%;
	margin: 10px auto;
	padding: 15px;
	box-shadow: 1px 1px 11px 5px var(--color-greenyellow) inset, 1px 1px 11px 5px var(--color-greenyellow);
	cursor: pointer;
	background: var(--color-black);
	color: var(--color-greenyellow);
	font-family: "Algerian", sans-serif;
	text-transform: uppercase;
}

.btn-form:hover {
	box-shadow: 1px 1px 11px 5px var(--color-pink) inset, 1px 1px 11px 5px var(--color-pink);
	color: var(--color-pink);
	transition: .5s;
}

.btn-form:active {
	box-shadow: 1px 1px 11px 5px var(--color-red) inset, 1px 1px 11px 5px var(--color-red);
	color: var(--color-red);
	transition: .5s;
}

.form-row {
	font-size: 24px;
	margin: 15px auto;
	padding: 10px;
	color: var(--color-cyan);
}

.visual {
	font-size: 0;
}

.visual__img1, .visual__img2, .visual__img3 {
	display: inline-block;
	max-width: 33%;
	height: 350px;
}

.visual-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}